/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Container */
  .modal-container {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 24rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Modal Heading */
  .modal-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color:black;
    text-align: center;
  }
  
  /* Input and Textarea Fields */
  .input-field {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  /* Button Container */
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  /* Cancel and Submit Buttons */
  .cancel-button {
    background-color: #6b7280;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
  }
  
  .submit-button {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  